body {
    background-color:peru;
}
button {
    width: 150px;
    height: 150px;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
    background-color: red;
    color: black;
    font-size: 30px;
}
a:hover{
    background-color: red;
    font-size: 30px;
}
button:hover{
    background-color: red;
    font-size: 30px;
}
h1 {
    border-radius: 45px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Times New Roma', Times, serif;
    font-size: 100px;
    text-align: center;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -o-border-radius: 45px;
}
h2 {
    border-radius: 30px;
    background-color: blueviolet;
    color:darkgreen;
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
h3 {
    font-size: 50px;
    text-align: center;
}
h4 {
    font-size: 50px;
    text-align: center;
}
h5 {
    font-size: 50px;
    text-align: center;

}

h6 {
    font-size: 50px;
    text-align: center;
}
p {
    font-size: 50px;
    text-align: center;
}
.Robos{
    width: 450px;
    height: 450px;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
}
.vidrio{
    width: 500px;
    height: 500px;
}  
.cajita{
    width: 500px;
    height: 500px;
    margin: 100 px;
    padding: 100px;
    border: 30px solid crimson;
    background-color: blueviolet;
    margin-left: 30%;
    margin-right: 30%;
    
}
.pablitos{
    margin-left: 30%;
    margin-right: 30%;
    width: 30%;
    
}

.yardobot{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    animation: mover 3s linear infinite;
    -webkit-animation: mover 3s linear infinite;
}

.yardobot:hover{
    font-size: 50px;
    background-color: blue;
}

@keyframes mover {
    0% { transform:translateX(0); }
    100% { transform:translateX(250px); }
}
.dirigirse{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
